.novas_marco{margin-bottom:2em}.novas_titulo{text-align:left;font-size:1.3em;margin-top:1em;color:#bf0067}.novas_titulo>a{cursor:pointer;text-decoration:none}.abl-novas-main{display:flex;flex-direction:column}.novas_entrada{text-align:justify;margin:0;font-size:15px;color:#333;line-height:151%}