.celda_cab_0_fixed{position:static;top:initial;left:initial}.celda_prgf,.celda_prgf_over{margin:0;padding:0;border:1px transparent dashed}.celda_prgf_over{border-color:#363636}.celda_elmt_edit,.celda_elmt_edit_over{padding:0 0 0 0;border:1px #363636 dashed}.esquema{display:block}