.cab_titulo{line-height:initial}.celda_body{margin:0}.celda_cabeceira_0{position:initial}.celda_prgf,.celda_prgf_over{margin:0;padding:0;border:1px transparent dashed}.celda_prgf_over{border-color:#fff}.celda_elmt_edit,.celda_elmt_edit_over{padding:0;border:1px #fff dashed}