.ventas_div_c{border:0;margin:11px 0 11px 0;padding:0;width:initial;max-width:49%;float:left}.ventas_titulo{text-align:center;width:99%}.ventas_oferta{text-align:center;width:99%}.ventas_pvp{text-align:center;width:99%}.ventas_pvp_oferta{text-align:center;width:99%}