.degradado{height:350px;background:linear-gradient(#990033,#FFFFFF);background:-webkit-linear-gradient(#990033,#FFFFFF);background:-moz-linear-gradient(#990033,#FFFFFF);background:-o-linear-gradient(#990033,#FFFFFF)}.separador_cab{height:20px;background-color:#903}.lista_lpax_seg,.lista_lpax_seg_sl{border-color:transparent transparent transparent #903;border-style:solid;border-width:5px 0 5px 9px;width:0;float:left}.lista_lpax_seg_sl{border-color:transparent transparent transparent #f0f0f0}.lista_lpax_ant,.lista_lpax_ant_sl{border-color:transparent #903 transparent transparent;border-style:solid;border-width:5px 9px 5px 0;width:0;float:left}.lista_lpax_ant_sl{border-color:transparent #f0f0f0 transparent transparent}.clogo_bseg{border-color:transparent transparent transparent #903}.clogo_bant{border-color:transparent #903 transparent transparent}.carrusel_marco{background-color:#FFF}.carrusel_marco_2{background-color:#FFF}.carrusel_boton{color:#903}.carrusel_iten_titulo,.carrusel_iten_titulo_a{min-height:43px;overflow:hidden;white-space:pre-wrap;margin:1px;padding:2px 4px 2px 4px;line-height:17px;text-transform:none;text-decoration:none;color:#000;background-color:#FFF;font-family:Helvetica,sans-serif", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.carrusel_iten_titulo_a {
  text-decoration: underline;

  color: #CC3366;
}

.carrusel_iten_notas {
  max-height: 333px;

  white-space: pre-wrap;
  background-color: #FFFFFF;

  font-family: Helvetica,sans-serif",sans-serif;font-size:12px}.ccatalogo_2_marco{margin:0;padding:0}.ccatalogo_2_marco_2{white-space:nowrap;text-align:LEFT;font-family:Helvetica,sans-serif", sans-serif;
  font-size: 11px;
  font-style:normal;
  font-weight:bold;

  background-color: #990033;

  border: 1px solid #CC3366;

  padding: 4px 2px 4px 2px;
  margin: 2px;
}

.ccatalogo_2_cab {
  margin: 0;
  padding: 0;

  border: 0;

  background-color: transparent;
}

.ccatalogo_2_cab_2 {
  margin: 0;
  padding: 0;
  border: 0;

  text-align: right;
  font-family: Helvetica,sans-serif",sans-serif;font-size:11px;font-style:normal;background-color:transparent;color:#FFF}.ccatalogo_2_marco_perfil,.ccatalogo_2_marco_plantilla{padding:0 11px 0 11px}.ccatalogo_2_sperfil,.ccatalogo_2_splantilla{border:1px #ccc solid;width:99%;background-color:#903}.ccatalogo_2_lista{text-align:center;margin:0;padding:5px 0 0 0;border:0}.ccatalogo_2_lista_elemento{border:0;background-color:transparent;color:#FFF;padding:3px 1px 3px 1px;text-transform:capitalize}.cloginweb_link_login,.cloginweb_link_rexistro,.cloginweb_link_perfil,.cloginweb_link_pechar{padding:0;color:#FFF;display:inline}.cloginweb_link_rexistro::before{content:" ||| "}.cloginweb_link_pechar::before{content:" ||| "}.cpagar_marco{width:88%}.ccarro_boton{margin:3px;background-color:transparent;width:43px;height:43px;border:0;cursor:pointer}.cbuscador_marco{border:0}.cbuscador_input{width:99px;border:1px solid #000;border-radius:2px 0 0 2px}.cbuscador_boton{background-color:#000;border:1px solid #000;border-radius:0 2px 2px 0;padding:0}.elmt_paxinador_triseg{border-color:transparent transparent transparent #C36}.elmt_paxinador_triant{border-color:transparent #C36 transparent transparent}.celda_body{margin:0;padding:0;font-family:Helvetica,sans-serif", sans-serif;
  font-size: 12px;
  font-style:normal;

  color: #000000;

  background-color: #FFFFFF;
}

.celda_detalle {
  max-width:940px;

  font-family: Helvetica,sans-serif",sans-serif;font-size:12px;margin:0 0 0 0;padding:0 0 55px 0;border:0}.celda_cabeceira,.celda_cabeceira_over,.celda_pe,.celda_pe_over{margin-bottom:17px}.celda_elmt,.celda_elmt_edit,.celda_elmt_over,.celda_elmt_texto,.celda_elmt_texto_over,.celda_imaxe,.celda_imaxe_ventas,.celda_logo{margin:0;padding:0 5px 0 5px;border:1px transparent dashed;font-family:Helvetica,sans-serif",sans-serif;font-size:12px}.celda_imaxe,.celda_imaxe_ventas,.celda_logo{border:0 transparent dashed}.celda_pe{color:#FFF;background-color:#333}.cab_titulo{color:#FFF;background-color:#333;border:0;font-size:12px;width:100%;max-width:535px;margin:0;padding:0}.pe_texto{padding:33px 11px 33px 11px;width:940px;color:#FFF;background-color:#333}.navegador_lmiga_r{color:#903}.navegador_lmiga:hover{color:#903}.CRS_novas_ico{width:17px}