.novas_separador1{height:2px;color:#903}.novas_separador2{height:1px;color:#333}.novas_marco{margin:17px 0 11px 0;padding:3px 0 3px 0;width:100%}.novas_imaxe{border:1px solid #903}.novas_data{font-family:Helvetica,sans-serif", sans-serif;
  font-size: 12px;
  font-weight: bold;

  color: #000000;
}


.novas_titulo, .novas_titulo_a {
  margin: 5px 0 3px 0;

  text-align: LEFT;
  font-family: Helvetica,sans-serif",sans-serif;font-size:16px;font-weight:700;color:#000;border:0;background-color:transparent;width:100%}.novas_titulo_a{text-decoration:underline}.novas_entrada{text-align:justify;font-family:Helvetica,sans-serif", sans-serif;
  font-size: 12px;

  color: #000000;
  background-color: transparent;

  border: 0;
  width: 100%;

  white-space: pre-wrap;
}

.novas_wysiwyg {
  padding-top: 11px;

  width: 99%;

  text-align: LEFT;
  font-family: Helvetica,sans-serif",sans-serif;font-size:12px;font-style:normal;color:#666}.novas_paxinador_marco{margin:0 11px 7px 11px;padding:7px;text-align:center}.novas_paxinador_link,.novas_paxinador_link_sl{font-weight:700}.novas_paxinador_link{cursor:pointer;color:#000}.novas_paxinador_link:hover{color:#C36}.novas_etq_marco,.novas_etq_txt{margin:3px 0 3px 0;padding:0;width:100%;text-align:left;font-style:italic}.novas_etq_link{margin:0;padding:1px 4px 1px 4px;font-weight:700;cursor:pointer}.novas_etq_link:hover{color:#C36}