.ms_marco{display:inline}.ms_opcion,.ms_opcion_selec{white-space:nowrap;text-transform:uppercase;border:0;color:#333;font-size:121%;margin:0 17px -7px 17px}.ms_opcion_selec{color:#79839f}.ms_opcion:hover,.ms_opcion_selec:hover{text-decoration:underline}