.ventas_div_c{margin:0 5px 0 5px;padding:0;border:0;width:220px;max-width:220px;float:left}.ventas_titulo{text-align:center;width:99%}.ventas_oferta{text-align:center;width:99%}.ventas_pvp{text-align:center;width:99%}.ventas_pvp_oferta{text-align:center;width:99%}