.novas_marco{margin-bottom:2em}.novas_titulo{text-align:left;margin:1em 0;color:#933;font-weight:400;font-size:15px}.novas_titulo>a{cursor:pointer;text-decoration:none}.cm-novas-main{display:flex;flex-direction:column}.novas_entrada{text-align:justify;margin:0;font-size:14px;line-height:151%}