.celda_cab_0{position:initial;height:34px}.cab_titulo{line-height:initial}.celda_prgf,.celda_prgf_over{margin:0;padding:0;border:1px transparent dashed}.celda_prgf_over{border-color:#000}.celda_elmt_edit,.celda_elmt_edit_over{padding:0;border:1px #000 dashed}.cm_0000_1{position:initial}