.tilia_vm_capa_1{text-align:center;top:0;left:0;padding-top:17%;position:fixed;background-color:transparent;z-index:9991111}.tilia_vm_capa_2{width:44%;padding:5px 11px 5px 11px;border:1px #333 solid;position:fixed;left:26%;background-color:#fff}