.xmp_activo{margin:5px 11px 5px 11px;padding:3px;font-size:11px;font-family:Arial,monospace;cursor:pointer;color:#00f}.xmp_inactivo{margin:5px 11px 5px 11px;padding:3px;font-size:11px;font-family:Arial,monospace;color:#a0a0a0}.xmp_botonera{width:97%;text-align:right}