.celda_prgf,.celda_prgf_over{margin:0;padding:0;border:1px transparent dashed}.celda_prgf_over{border-color:#000}.celda_elmt_edit{border:1px #000 dashed}.CRS_0_marco{position:initial;width:initial;top:initial;left:initial}