.novas_marco{margin-bottom:2em}.novas_titulo{text-align:left;font-size:17px;margin-top:1em;color:#ED6D3F}.novas_titulo>a{cursor:pointer;text-decoration:none}.cm-novas-main{display:flex;flex-direction:column}.novas_entrada{text-align:justify;margin:0;font-size:15px;color:#666;line-height:151%}