.celda_prgf,.celda_prgf_over{margin:0;padding:0;border:1px #fff dashed}.celda_prgf_over{border-color:#666}.celda_elmt,.celda_elmt_cabpe,.celda_elmt_edit,.celda_elmt_fondo{width:99%;border:1px transparent dashed}.celda_elmt_edit{border:1px #666 dashed}.celda_elmt_cabpe{border:1px transparent dashed}